# Base URL da API local
# - Emulador Android: http://10.0.2.2:{porta}
# - iOS Simulator / Web: http://localhost:{porta}
# - Celular Físico (Expo Go): http://<IP_DA_MAQUINA>:{porta}
EXPO_PUBLIC_API_URL=http://localhost:{porta}
